@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Amanda Gawlowicz's Technical!</h1>
    <p>Click Products tab to view all products with the option of creating a new product.</p>
    <p>Click on individual products to update or delete them.</p>
</div>